
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #e20000;
    background-color: #f4f4f4;
}
nav {
    background-color: #881f1f;
    padding: 1rem 0;
    margin-bottom: 2rem;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav li {
    margin: 0 1rem;
}
h1 {
    text-align: center;
    color: #881f1f;
}
